<div class="layout-container">
        <app-header 
        [isSidenavOpen]="isSidenavOpen"
        (toggleSidenav)="toggleSidenav()">
      </app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #sidenav
      [opened]="isSidenavOpen"
      [mode]="'side'"
      class="sidenav">
      <app-sidebar (toggleSidenav)="toggleSidenav()"></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">

      
      
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
